@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: auto;
}

:root {
  --accent-color: #a4d421;
  --dark-color: #000;
  --light-color: #fff;

  --thin: 100;
  --medium: 500;
  --semi-bold: 600;
  --black: 900;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 9rem;
  font-weight: var(--black);
  text-transform: uppercase;
  line-height: 0.9;
  z-index: 10;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: var(--black);
}

h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: var(--black);
  line-height: 1.7;
}

h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: var(--black);
  line-height: 1.7;
}
p {
  font-size: 1.2rem;
  line-height: 1.9;
  font-weight: 400;
}

button {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: 3rem;
  border: 2px solid var(--accent-color);
  background-color: rgba(0, 0, 0, 0);
  margin: 2rem auto;
}
/* ----------------- */
/* Navbar */
nav img {
  max-width: 80px;
}

nav {
  height: 9rem;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.nav-container {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
  height: 100%;
}

nav a {
  color: white;
  text-transform: uppercase;
  font-weight: var(--medium);
}

/* Video */
video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
/* Main section - just to give it a black tint all over */
main {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Hero section */
.hero-section {
  padding-top: 5rem;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.hero-section h1 {
  position: relative;
  z-index: 10;
}

.hero-section h1::before {
  content: "Eat. Drink. Play.";
  position: absolute;
  color: var(--dark-color);
  top: -4px;
  left: -8px;
  z-index: -1;
  -webkit-text-stroke: 2px var(--accent-color);
}

.hero-section h3 {
  font-size: 2rem;
  font-weight: var(--black);
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.hero-section p {
  max-width: 45rem;
  margin: auto;
}

/* Scrolling section */
.scrolling-section {
  height: 100%;
  width: 100%;
  padding: 8rem 0;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  overflow-x: hidden;
}

.outline-text {
  color: rgba(0, 0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke: 2px var(--light-color);
}

.scrolling-section .outline-text {
  color: rgba(0, 0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke: 2px var(--light-color);
  animation: scroll 10s 0.1s linear none infinite;
}

.scrolling-section .outline-text:hover {
  color: var(--accent-color);
  -webkit-text-stroke: 2px var(--accent-color);
  transition: all 0.2s ease-in;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

/* Cursor */
.cursor {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: fixed;
  transition: scale 0.3s ease, border 0.3s ease, background-color 0.3s ease; /*relevant code written in javascript*/
}

.cursor-blur {
  height: 300px;
  width: 300px;
  filter: blur(30px);
  opacity: 30%;
}
/* --------------- */
/* About Us */
.about-us {
  position: relative;
  z-index: 10;
}
.about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.about-us img {
  max-width: 200px;
  height: auto;
  border-radius: 0.6rem;
}

.about-us p {
  max-width: 80%;
  margin: 2rem auto;
}

/* Cards section */

.cards-section {
  margin: 5rem auto;
}

.cards-section .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  z-index: 10;
}

.card-container {
  max-width: 30%;
  min-height: 600px;
  border-radius: 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.card-container:nth-child(1) {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.card-container:nth-child(2) {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.card-container:nth-child(3) {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.card-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.card-text {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.overlay {
  opacity: 0%;
  background-color: var(--accent-color);
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  z-index: 20;
  transition: all 0.5s ease;
  display: grid;
  place-content: center;
}

.card-container:hover {
  transform: perspective(3000px) rotateY(10deg);
}

.card-container:hover .overlay {
  opacity: 100%;
}

.round-link {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 100px;
  height: 100px;
  border: 2px solid var(--dark-color);
  z-index: 200;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  transition: all 0.5s ease;
}

.round-link i {
  color: var(--dark-color);
  font-size: 2.5rem;
  transition: all 0.5s ease;
}

.round-link:hover {
  background-color: var(--light-color);
}
.round-link:hover > i {
  color: var(--accent-color);
}

/* Signup */
.signup {
  background: linear-gradient(to right top, #b1e523, #069c3c);
  color: var(--dark-color);
  /* padding: 5rem 0; */
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup h4 {
  color: var(--dark-color);
  transition: all 1s ease-in;
  max-width: 60%;
  margin: auto;
}

.signup h4:hover {
  text-decoration: underline;
}

.signup img {
  display: inline-block;
  max-width: 8rem;
}

/* Food */
/* - Slider */

.food {
  padding: 5rem 0;
  margin-top: 3rem;
}

.slider-wrapper {
  position: relative;
  max-width: 50%;
}

.slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 1rem;
}

.slider img {
  scroll-snap-align: start;
  flex: 1 0 100%;
  /* flex : grow shrink basis */
  /* object-fit: cover; */
}

.slider-nav {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.slider-nav a {
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--light-color);
  transition: all 0.2s ease-in;
}

.slider-nav a:hover {
  background-color: var(--accent-color);
}

.slider-nav a:target {
  background-color: red;
}

/* -Text */

.food .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 5rem;
}

.food .text-content h3,
.food .text-content p {
  margin: 2rem auto;
}

/* Reviews Section */
.reviews > .container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews img {
  max-width: 60px;
}

.reviews h4 {
  max-width: 70%;
  text-align: center;
}

.reviews #left-quote,
.reviews #right-quote {
  position: absolute;
}

.reviews #right-quote {
  right: 7rem;
  bottom: 10rem;
}

.reviews #left-quote {
  left: 7rem;
  top: 10rem;
}

/* Small cards section */

.small-card-container {
  min-height: 5rem;
  text-align: center;
  z-index: 100;
}

.small-card-container .overlay {
  opacity: 100%;
  transition: opacity 0.3s ease-in;
}

.small-card-container:hover .overlay {
  opacity: 0;
}

.relative-section {
  position: relative;
  z-index: 20;
}

.small-card-outline-text {
  -webkit-text-stroke: 1px var(--light-color);
  font-size: 4rem;
  position: absolute;
  top: -2.8rem;
  left: 50%;
  width: 100%;
  display: inline-block;
  transform: translateX(-45%);
  z-index: 0;
}

/* Footer section */
footer > img {
  max-width: 28rem;
  position: absolute;
  top: 1rem;
  left: 0;
}
.footer-top-section img {
  display: block;
  min-width: 120px;
  max-width: 120px;
}

footer {
  background: linear-gradient(to right top, #b1e523, #069c3c);
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: var(--dark-color);
  position: relative;
  z-index: 20;
  overflow: hidden;
}

footer a {
  color: var(--dark-color);
  transition: color 0.2s ease-in;
}

.footer-top-section a {
  display: block;
  padding-bottom: 1rem;
}

footer a:hover,
footer i:hover {
  color: var(--light-color);
}

.footer-top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

footer .logos {
  flex: 1 0 25%;
  width: 100%;
  height: 100%;
}

footer .logos i {
  font-size: 3rem;
  display: inline-block;
  margin-top: 2rem;
  transition: color 0.3s ease-in;
}

.footer-top-section div:nth-child(2) {
  flex: 1 0 25%;
}

.footer-top-section div:nth-child(3) {
  flex: 1 0 25%;
}

.footer-top-section div:nth-child(4) {
  flex: 1 0 25%;
}

.footer-bottom-section {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
